body {
    background-color: #e2e1dc;
  }

#header{
  direction: ltr;
  color: #484849;
  font-size: 13px;
  font-weight: 400;
  font-family: "Helvetica Neue",sans-serif;
  line-height: 2.46153846;
  left: 0;
  width: 100%;
  min-width: 600px;
  z-index: 99999;
}

.siteFooter{
  font-size: 13px;
  z-index: 99999;
  width: 100%;
  bottom: 0;
  line-height: 2.45;
  position: fixed;
  transition: top 1s;
  transition-timing-function: ease-out;
}

.footerTab{
  color: #484849;
  font-size: 13px;
  font-weight: 400;
  font-family: "Helvetica Neue",sans-serif;
  line-height: 2.45;
  background-color:white;
  min-width: 100px;
  width: 150px;
  z-index: 99999;
  text-align: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  bottom: 0;
  transition: top 1s;
  transition-timing-function: ease-out;
}

.icons{
  display: inline-block;
}

.icons > a > img {
  height: 2.1em;
  padding: 0.3em;
  color: #484849;
}

.siteHeader{
  top: 0;
  position: fixed;
  transition: top 1s;
  transition-timing-function: ease-out;
}

.siteHeader-squash{
  top:-50px
  /* logo size */
}

.navbar-logo > img {
  display: block;
  margin: auto;
}

.navblock-left{
  width: 4em;
  border-bottom-left-radius: 1em;
}

.navblock-right{
  width: 4em;
  border-bottom-right-radius: 1em;
}

.tagLine{
  color: white;
    top: 30%;
    left: 65%;
    max-width: 320px;
    position: absolute;
    z-index: 10;
}

.tagLine > h3 {
  font-weight: 700;
  font-size: 3em;
}

.featureImage{
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  padding: 0px;
}

.featureImage img {
  min-width: 600px;
  width: 100%;
  object-fit: cover;
}

#contactForm{
  margin-top: 50px;
}
.navbar-logo img{
  width: 50px;
}

.descriptionContainer{
  padding-top: 60px;
  height: 700px;
  position: relative;
}

#featureVideoContainer{
    top: 0px;
    right: 0px;
    left: 0px;
    position: fixed;
    z-index: -1;
}

#featureVideo{
  width: 100%;
}

#scrollingPage{
  position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
}

.leaderTitle{
  padding: 0.2em;
}

.pt{
  height: 45px;
  width: 45px;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  cursor:pointer;
}

.start{
  top: 36%;
  left: 37%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.363);
}

.end{
    border: black;
    border-width: 1px;
    border-style: outset;
    background-color: #f8f9fa52;
    font-size: 1.5em;
    text-align: center;
    border-radius: 38px;
    top: 31%;
    left: 71%;
    position: relative;
}

.selected{
  background-color: rgba(255, 255, 255, 0.842);
}

.endTitle{
  display: inline-block;
  margin-left: 0.5em;
  left: 71%;
  position: relative
}

.sectionDescription{
  width: 30%;
  background-color: #ffffffa8;
  padding: 10px;
  top: 55%;
  left: 5em;
  position: absolute;
}

.about{
  margin-top:100px
}

.profilePic{
  border-radius: 1em;
  margin: 1.25em;
}

.profile{
  font-family: sans-serif;
  text-align: center;
  color: #484849;
}

.profileDescr{
  text-align: left;
}

.profileHead{
  text-align: left;
  padding-left: 1em;
}

.supportIntro{
  max-width: 800px;
  text-align: center;
}