body {
    background-color: rgb(226, 226, 207);
  }

#header{
  direction: ltr;
  color: #484849;
  font-size: 13px;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 2.46153846;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 600px;
  z-index: 99999;
}

#header-top{
  background: #ffffff;
}

.navbar-logo > img {
  display: block;
  margin: auto;
}

.navblock-left{
  width: 4em;
  border-bottom-left-radius: 1em;
}

.navblock-right{
  width: 4em;
  border-bottom-right-radius: 1em;
}

#featureImage{
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  padding: 0px;
}

#featureImage img {
  min-width: 600px;
  width: 100%;
  object-fit: cover;
}

#contactForm{
  margin-top: 50px;
}
.navbar-logo img{
  width: 50px;
}

.descriptionContainer{
  padding-top: 60px;
height: 700px;
}

#featureVideoContainer{
    top: 60px;
    right: 0px;
    left: 0px;
    position: fixed;
    z-index: -1;
}

#featureVideo{
  width: 100%;
}